.container
	%p= link_to " Create Recipe", new_recipe_path, class: 'btn btn-info btn-md'
- @recipe.each_slice(4) do |recipes|
	.container
		.row
			- recipes.each do |recipe|
				.col-md-3
					.recipe
						.image_wrapper
							= link_to recipe do
								= image_tag recipe.image.url(:medium)
							%h2= link_to recipe.title, recipe