- @recipe.each_slice(3) do |recipes|
	.row
		.col-md-offset-1
			- recipes.each do |recipe|
				.col-md-3
					.recipe
						.image_wrapper
							= link_to recipe do
								= image_tag recipe.image.url(:medium)
						%h2= link_to recipe.title, recipe