<h1 class="text-center">Contact Us</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
				<address></br>
				  <strong>AGLO, Inc.</strong><br>
				  648 Aglo Building, Sangitang East<br>
				  Cabanatuan City, NE 3100<br>
				  <abbr title="Phone">P:</abbr> (123) 456-7890
				</address>

				<address>
				  <strong>Full Name</strong><br>
				  <a href="mailto:#">first.last@example.com</a>
				</address>
		</div>
	</div>

