<div class="container">
	<div class="center jumbotron">
		<h1> Carmela's Cooking Recipes </h1>
		<%= link_to "Sign up now", new_user_registration_path, class: 'btn btn-danger btn-lg' %>
		<p> or </p>
		<%= link_to " Sign In ", new_user_session_path, class: 'btn btn-primary btn-md' %>
	</div>
</div>